Langchain
Langchain_community
Langchain_core
python-dotenv
streamlit
langchain_groq
pandas
numpy
pypdf
langchain-community
faiss-cpu
langchain_chroma
langchain_huggingface
ipykernel
arxiv
wikipedia
pymupdf
duckduckgo-search
chromadb
langchainhub
mysql-connector-python
SQLAlchemy
validators==0.28.1
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
google-generativeai
torch
torchvision
timm==0.4.12
pyyaml
scipy
gradio
reportlab
docx
python-docx
pypdf
matplotlib
PyPDF2
openai



